<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
  {{#if cms}}
    <link rel="stylesheet" href="/public/stylesheets/dist/form.css">
  {{/if}}
  <link rel="stylesheet" href="/public/stylesheets/dist/style.css">
  <title>{{ title }}</title>
</head>

<body>
  <header>
    <ul class="social-medias">
  <li>
    <i class="fab fa-facebook"></i>
  </li>
  <li>
    <i class="fab fa-twitter-square"></i>
  </li>
  <li>
    <i class="fab fa-google-plus-square"></i>
  </li>
  <li>
    <i class="fab fa-instagram"></i>
  </li>
</ul>
</header>
{{{ body }}}
<footer>
  <p class="copy">
  			© 2018 The Awesome Company, Inc
  		</p>
</footer>
  {{#if mainpage}}
  <script>
    var appData = {
      movies : {{{movies}}},
    }
  </script>
    <script src="/public/javascripts/dist/main.min.js"></script>
  {{/if}}

  {{#if cms}}
    <script src="/public/javascripts/dist/formhandler.js"></script>
  {{/if}}

  {{#if videopage}}
  <script>
    var appData = {
      comments : {{{comments}}},
    }
  </script>
    <script src="/public/javascripts/dist/videopage.min.js"></script>
  {{/if}}
</body>

</html>
