<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.15/dist/vue.js"></script>
  {{#if cms}}
    <link rel="stylesheet" href="/public/stylesheets/form.css">
  {{/if}}
  <title>{{ title }}</title>
</head>

<body>
  {{{ body }}}

  <script>
    var appData = {
      movies : {{{movies}}},
    }
  </script>
  {{#if mainpage}}
    <link rel="stylesheet" href="/public/stylesheets/main.css">
    <script src="/public/javascripts/main.js"></script>
  {{/if}}

  {{#if cms}}
    <script src="public/javascripts/formhandler.js"></script>
  {{/if}}
</body>

</html>
