body {
  left: 0;
  background: #00001a;
  background: -webkit-linear-gradient(top left, #00001a 0%, #00004d 100%);
  background: -moz-linear-gradient(top left, #00001a 0%, #00004d 100%);
  background: -o-linear-gradient(top left, #00001a 0%, #00004d 100%);
  background: linear-gradient(to bottom right, #00001a 0%, #00004d 100%);
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  font-family: Helvetica, arial, sans-serif;
}

.title {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
}

li {
  display: table;
  margin: 0px auto 0px auto;
  padding-top: 40px;
}

li a {
  width: 60px;
  color: white;
  float: left;
}

.link-button {
  color: white;
  background: #33ccff;
  padding: 10px 20px;
  display: block;
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
  text-decoration: none;
  margin-left: 50px;
}

.link-button:hover {
  background: #00ace6;
}
